body {
    scroll-behavior: smooth;
}

.header {
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 18%;
}

h1 {
    font-weight: 800;
}

.header h1 {
    padding: 5px;
    margin: 5px;
}

.header p {
    padding: 4px;
}

#logo {
    margin-top: 4px;
    margin-bottom: 40px;
    height: 80px;
    width: 80px;
}

.about {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: sans-serif;
    font-size: large;
}

#about {
    font-family: sans-serif;
}

.services {
    background-image: url("/assets/backgrounds/s_image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-position: center;
    padding: 6%;
}

.whatWeDo {
    text-align: center;
    padding-top: 45px;
    font-family: sans-serif;
    font-size: larger;
    margin: 20px;
}

.whatWeDo h4 {
    padding-bottom: 5%;
}